<section class="user-section">
  <div class="profile-name">
   <%= gravatar_for current_user, size: 100 %> 

    <h2><%= "#{@user.name}" %></h2>

  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
